@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url(./assets/bg.jpg);
    background-size: cover;
}

.game-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.8s ease;
}

.game-modal .content {
    background: #f1f1f1;
    width: 420px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.game-modal h3 {
    font-size: 1.68rem;
}

.game-modal h4 {
    font-size: 1.53rem;
}

.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-modal p b {
    color: #005fed;
    font-weight: 600;
}

.game-modal button {
    padding: 12px 23px;
}

.game-box {
    width: 510px;
    padding: 60px 40px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.game-box .game-box-content {
    position: relative;
    z-index: 999;
}

.word-container {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.word-container .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 3px solid #000;
}

.word-container .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}

.game-box .guesses-text {
   text-align: center;
   font-size: 1.1rem;
   font-weight: 500;
   margin-bottom: 15px; 
}

.game-box .guesses-text b {
    font-weight: 700;
    color: #f01e2c;
}

.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.game-box .keyboard button,
.game-modal button {
    color: #f1f1f1;
    cursor: pointer;
    border: none;
    outline: none;
    background: #3586ff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.game-box .keyboard button:hover,
.game-modal button:hover {
    background: #68a4fd;
}

.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}

.keyboard button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}